{% extends './../_shared/_layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<h1>Dominic Pettifer</h1>

<p>Hello there. I build websites with ASP.NET MVC and Node.js. You can find me at:</p>

<ul>
    <li><a href="http://sironfoot.tumblr.com/">My blog at Tumblr</a></li>
    <li><a href="https://twitter.com/sironfoot">My Twitter feed</a>
    <li><a href="https://www.facebook.com/Sironfoot">Facebook</a></li>
    <li><a href="https://github.com/Sironfoot">A few open-source projects at Github</a></li>
    <li><a href="https://www.npmjs.org/~sironfoot">NPM - I have a few Node.js packages here</a></li>
    <li><a href="http://stackoverflow.com/users/143253/sunday-ironfoot">Stackoverflow.com</a></li>
</ul>

<p>You can also email me at <a href="mailto:sironfoot@gmail.com">sironfoot@gmail.com</a></p>

<p>
    I live in Motherwell (near Glasgow, Scotland).
    I currently work for <a href="https://www.recipop.com/basketads">Recipop</a>.
</p>

<p>
    View the source-code for this website at
    <a href="https://github.com/Sironfoot/personal-website">Github.com</a>
</p>

{% endblock %}